.home_banner {
    height: 432px;
    width: 499px;
}
.home_banner img{
    height: 100%;
    width: 100%;
    object-fit: contain;
   
}
.a_h5 h5 {
    font-family: All Round Gothic;
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 48px;
    color: #003A25;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 40px;
}
p{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.a_order{
    display: flex;
    align-items: center;
    justify-content: center;
}
.a_order span{
    font-family: All Round Gothic;
    color: #003A25;
    font-size: 20px;

    
}
.a_button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8px;
}
.a_button button {
    border: none;
    font-weight: 700;
    padding: 8px 130px;
    color: white;
    border-radius: 5px;
    background-color: #315c45;
    

    
}
.a_button button:hover{
    background-color: #ffffff;
    border: 1px solid #315C45;
    color: #315c45;
}
.a_place{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-family: Arial;
   
}
.a_button button {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    background: linear-gradient(135deg, #007bff, #033D29); /* Gradient mix */
    color: white; /* Ensure text remains white */
    cursor: pointer;
    border-radius: 6px;
    width: 160px;
    transition: all 0.3s ease-in-out;
  }
  
  .a_button button:hover {
    background: linear-gradient(135deg, #0056b3, #033D29); /* Darker hover effect */
    color: white !important; /* Keep text color white */
    transform: scale(1.05);
  }
  