.footer{
    background-color: #033D29;
    color: white;

}
.footer .services {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer .services .a_right .list ol {
    text-decoration: none !important;
    list-style: none;
}
.footer .services .a_right .list {
    font-size: 14px;
    font-weight: 600;
    
    
    
}
.footer .services .a_right .list :hover{
    text-decoration: underline;
    cursor: pointer;
}
.a_icon :hover{
    text-decoration: underline;
    color: #40AB48;
}
.m_icon :hover{
    text-decoration: underline;
    color: #40AB48;
}
.contact {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.right_most .img_box a{
    text-decoration: none;
    color: white;
}
.img_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
    padding-top: 20px;

    
}
.img_box .a_img {
    height: 30px;
    width: 30px;
    border-radius: 5px;
  
   
  
}
.img_box .a_img :hover{
    opacity: 0.1;
}
.footer_border {
    border-top: 1px solid white;
    margin-top: 100px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  
}
.footer_border h6{
    font-size: 14px;
}
    
/* responsive */

@media only screen and (max-width:480px){
    
        .a_right {
          margin-left: 80px;
           font-size: 14px;
        }
        .a_right h6{
            margin-left: -20px;
            font-size: 18px;
            font-weight: 600;
           
        }
        
        .contact .left_most{
            margin-top: 15px;
            font-size: 14px;
        }
        .contact .left_most h6{
            font-size: 18px;
            font-weight: 600;
        }
        .contact .right_most{
            margin-top: 20px;
            font-size: 14px;

        }

   
}