*{
    margin: 0px;
    padding: 0px;
}
.logo  img{
    height: 60px;
    width: 60px;
}
.h_right{
    text-decoration: none;
}
.h_right ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13px;
    list-style: none;
   
}
.h_right ul a{
    text-decoration: none;
    color: #B3B3B3;
    font-size: 17px;
    font-weight: 600;
}
.h_right ul a.active{
    color: rgba(0, 0, 0, 0.662) !important;
}
.a_btn {
    padding: 6px 11px;
    border-radius: 9px;
    color: #003a25;
    border: 1px solid #033D29;
    background-color: aliceblue;
    font-weight: 600;
    

}
.a_btn:hover{
    background-color: #003a25;
    color: White;
  
}