*{
    margin: 0px;
    padding: 0px;
}
.logo  img{
    height: 60px;
    width: 60px;
}
.h_right{
    text-decoration: none;
}
.h_right ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13px;
    list-style: none;
   
}
.h_right ul a{
    text-decoration: none;
    color: #B3B3B3;
    font-size: 17px;
    font-weight: 600;
}
.h_right ul a.active{
    color: rgba(0, 0, 0, 0.662) !important;
}
.a_btn {
    padding: 6px 11px;
    border-radius: 9px;
    color: #003a25;
    border: 1px solid #033D29;
    background-color: aliceblue;
    font-weight: 600;
    

}
.a_btn:hover{
    background-color: #003a25;
    color: White;
  
}
/* Profile dropdown container */
.profile-dropdown {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
  }
  
  /* Profile icon */
  .profile-icon {
    width: 40px; /* Adjust size */
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  /* Logout button */
  .logout-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .logout-btn:hover {
    background-color: #e60000;
  }
  

@media (max-width: 480px) { 

    body { font-size: 14px; }
    .logo  img{
        height: 45px;
        width: 45px;
    }
    .logo h5{
       font-size: 16px;
    }
    .h_right ul a{
        font-size: 15px;
    }
}